<h2>{{page_title}}</h2>
<div ng-init="loadRow()">
  <form name="form" ng-show="row!=null">
    <div class="row">
      <div class="col-xs-3">
        <label class="control-label">ID</label>
        <input name="supplierID" type="text" ng-model="row.supplierID" class="form-control" required ng-disabled="row.isUpdate" />
        <span class="help-inline text-error" ng-show="form.supplierID.$dirty && form.supplierID.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Empresa</label>
        <input name="companyName" type="text" ng-model="row.companyName" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.companyName.$dirty && form.companyName.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Nome do contato</label>
        <input name="contactName" type="text" ng-model="row.contactName" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.contactName.$dirty && form.contactName.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">T&iacute;tulo do contato</label>
        <input name="contactTitle" type="text" ng-model="row.contactTitle" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.contactTitle.$dirty && form.contactTitle.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Endere&ccedil;o</label>
        <input name="address" type="text" ng-model="row.address" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.address.$dirty && form.address.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Cidade</label>
        <input name="city" type="text" ng-model="row.city" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.city.$dirty && form.city.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Regi&atilde;o</label>
        <input name="region" type="text" ng-model="row.region" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.region.$dirty && form.region.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">C&oacute;digo postal</label>
        <input name="postalCode" type="text" ng-model="row.postalCode" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.postalCode.$dirty && form.postalCode.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Pa&iacute;s</label>
        <input name="country" type="text" ng-model="row.country" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.country.$dirty && form.country.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Telefone</label>
        <input name="phone" type="text" ng-model="row.phone" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.phone.$dirty && form.phone.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Fax</label>
        <input name="fax" type="text" ng-model="row.fax" class="form-control" required />
        <span class="help-inline text-error" ng-show="form.fax.$dirty && form.fax.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label class="control-label">Site</label>
        <input name="homePage" type="text" ng-model="row.homePage" class="form-control" required ng-pattern="/https?://.+/" />
        <span class="help-inline text-error" ng-show="form.homePage.$dirty && form.homePage.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="save()" ng-Disabled="form.$invalid">Salvar</button>
        <a href="#/suppliers" class="btn">Voltar</a>
        <button class="btn btn-danger pull-right" ng-click="del()">Apagar</button>
      </div>
    </div>
  </form>
</div>
<br>
