<h2>{{page_title}}</h2>
<div ng-init="loadRow()">
    <form name="form" ng-show="row!=null">
        <div class="row">
          <div class="col-xs-3">
            <label class="control-label">ID</label>
            <input name="categoryID" type="text" ng-model="row.categoryID" class="form-control" required ng-disabled="row.isUpdate" />
            <span class="help-inline text-error" ng-show="form.categoryID.$dirty && form.categoryID.$invalid">Campo obrigat&oacute;rio</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
              <label class="control-label">Nome</label>
              <input name="categoryName" required type="text" ng-model="row.categoryName" class="form-control" />
              <span class="help-inline text-error" ng-show="form.categoryName.$dirty && form.categoryName.$invalid">Campo obrigat&oacute;rio</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
              <label class="control-label">Descri&ccedil;&atilde;o</label>
              <textarea name="description" required ng-model="row.description" class="form-control" rows="8" cols="40"></textarea>
              <span class="help-inline text-error" ng-show="form.description.$dirty && form.description.$invalid">Campo obrigat&oacute;rio</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <label class="control-label">Foto da categoria</label>
            <div flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)">
                <button flow-btn class="btn btn-success" type="file">Enviar foto</button>
                <div ng-repeat="image in uploader.flow.files track by $index">
                    <img class="preview" flow-img="image" ng-show="false"/>
                    <span class="text">Preview</span> <img class="preview" ng-src="{{imageStrings[$index]}}"/>
                </div>
            </div>
            <img ng-show="updatePicture" src="http://urbano.eti.br/angular-rest/category/{{row.categoryID}}/png" alt="" class="img-thumbnail">
          </div>
      </div><br>
      <div class="row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" ng-click="save()" ng-Disabled="form.$invalid">Salvar</button>
          <a href="#/categories" class="btn">Voltar</a>
          <button class="btn btn-danger pull-right" ng-click="del()">Apagar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
