<h2>Cliente</h2>
<div ng-init="loadRow()">
  <form name="form" ng-show="row!=null">
    <div class="row">
      <div class="col-xs-3">
        <label class="control-label">ID</label>
        <input name="customerID" type="text" ng-model="row.customerID" class="form-control" required ng-disabled="row.isUpdate" />
        <span class="help-inline text-error" ng-show="form.customerID.$dirty && form.customerID.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label class="control-label">Nome</label>
        <input name="contactName" required type="text" ng-model="row.contactName" class="form-control" />
        <span class="help-inline text-error" ng-show="form.contactName.$dirty && form.contactName.$invalid">Campo obrigat&oacute;rio</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label class="control-label">Telefone</label>
        <input type="text" ng-model="row.phone" class="form-control"  />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label class="control-label">Email</label>
        <input name="email" type="email" ng-model="row.email" class="form-control"  required/>
        <span class="help-inline text-error" ng-show="form.email.$dirty && form.email.$invalid">
          <span ng-show="form.email.$error.required">Campo obrigat&oacute;rio</span>
          <span ng-show="form.email.$error.email">Email inv&aacute;lido</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label class="control-label">Url</label>
        <input name="url" type="url" ng-model="row.url" ng-pattern="/https?://.+/" class="form-control"  />
        <span class="help-inline text-error" ng-show="form.url.$dirty && form.url.$invalid">
          <span>Url inv&aacute;lida</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label class="control-label">Data simples</label>
        <input name="dataSimples" ng-model="row.dataSimples" class="form-control"  type="text" ng-pattern="/\d{1,2}/\d{1,2}/\d{4}/" />
        <span class="help-inline text-error" ng-show="form.dataSimples.$dirty && form.dataSimples.$invalid">
          <span>Data inv&aacute;lida</span>
        </span>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="save()" ng-Disabled="form.$invalid">Salvar</button>
        <a href="#/clientes" class="btn">Voltar</a>
        <button class="btn btn-danger pull-right" ng-click="del()">Apagar</button>
      </div>
    </div>
  </form>
</div>
<br>
